@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-scheme: #212121;
  --background-scheme: #F0F0F0;
  --clr-salt: #F0F0F0;
  --clr-pepper: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-scheme: #F0F0F0;
    --background-scheme: #212121;
  }
}

body {
  color: var(--foreground-scheme);
  background: var(--background-scheme)
}

nav {
  position: fixed;
  width: 100%;
  background-color: var(--background-scheme);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}