/* nav tag edited in global.css */

.nav_title_logo {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    column-gap: 20px;

    .nav_title {
        display: flex;
        flex-direction: column;
        color: #FDFDFD;
        font-size: 20px;
    }
    .nav_logo {
        width: 40px;
        height: auto;
        opacity: 0.8;
    }
}

.nav_menu {
    width: 54%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #FDFDFD;

    a:first-child {
        display: inline;
        border: 0;
        border-radius: 0;
    
        &:hover {
          color: #FDFDFD;
          background-color: transparent;
      }
      }
    
      a {
        display: inline;
        border: 2px solid #FDFDFD;
        border-radius: 12px;
        padding: 6px 10px;
        transition: 0.5s;
    
        &:hover {
          color: #2B2E32;
          color: rgba(0, 0, 0, 0.5);
          background-color: #FDFDFD;
        }
      }
}