/* nav tag edited in global.css */

@tailwind utilities;

.nav_title_logo {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    column-gap: 20px;

    .nav_title {
        display: flex;
        flex-direction: column;
        color: #FDFDFD;
        font-family: var(--font-ruhl);
        font-size: 14px;
    }

    .nav_logo {
        width: 27px;
        height: auto;
        opacity: 0.8;
    }
}

.nav_menu {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 18px;
    font-family: var(--font-rale);
    font-size: 14px;
    font-weight: 500;
    color: #FDFDFD;

    a {
        display: inline;
        padding: 4px 8px;
    }

    a:last-child {
        border: 2px solid #FDFDFD;
        border-radius: 8px;
        padding: 4px 8px;
        color: #2B2E32;
        background-color: #FDFDFD;
        transition: background-color 0.2s, color 0.3s;

        &:hover {
            border: 2px solid #FDFDFD;
            color: #FDFDFD;
            background-color: rgb(43, 46, 50, 0.1) /*#FDFDFD*/;
        }
    }

    @layer utilities {
        a:not(:last-child) {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -81%;
                transform: translateX(-50%);
                height: 2px;
                width: 0;
                background-color: #FAFAFA;
                transition: width 0.2s linear;
            }

            &:hover::after {
                width: 90%;
            }
        }
    }
}